.TheHeader {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../assets/home-7.jpg);
  height: 100vh;
  background-position: center;

  background-size: cover;
  background-repeat: no-repeat;
}
